.barRoot{
  background: #393e46 !important;
}


.linkRoot {
  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffd369;
    margin-right: 20px;
    transition: 1.5s color;
    letter-spacing: 1.5px;

    &:hover {
      color: #eeee;
    }
  }
}
